/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */

body {
    font-family: sans-serif;
}

.main {
    width: 100%;
    background-color: white;
}

.card__container {
	max-width: 978px;
 }
 .card-container {
	margin-left: auto;
	margin-right: auto;
 }

 .card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: -24px;
	margin-top: 50px;
 }

@media (min-width: 1024px) {
	.card-container .city {
	   flex-basis: calc(25% - 24px);
	}
}
	
@media (min-width: 600px) {
	.card-container .city {
		flex: 0 1 calc(50% - 24px);
		margin-left: 12px;
		margin-right: 12px;
	}
}

@media (min-width: 1024px) {
	.card-container .city {
		flex-basis: calc(33.3% - 24px);
	}
}

.city {
	min-height: auto;
	flex: 0 1 100%;
	margin: 0 0 24px;
	max-width: 300px;
	border: 1px solid #dadce0;
	background: #fff center center/auto 100%;
	border-radius: 8px;
	box-sizing: border-box;
	flex-direction: column;
	min-width: 225px;
	overflow: hidden;
	position: relative;
	display: flex;
}
	
.description {
	padding: 1em 2em;
}

.city-head h3 {
	display: flex;
	justify-content: flex-start;
	padding: 24px 24px 0;
	align-items: center;
	height: 88px;
	color: black;
}

/* .description h2 {
	font-family: Google Sans, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 30px;
	margin: 0;
	color: black;
} */
.contact {
	color: #0c71e0;
}

.description p {
	font-family: Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #5f6368;
}
	
@media (min-width: 1001px) {
	.city { flex: 1 0 31%; } 

	.city:last-of-type { flex-grow: 0; }
}